<!DOCTYPE html>
<html>
  <head>
    <title>BlogDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <script data-ad-client="ca-pub-6663000239327804" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
        <% if author_signed_in? %>
          <%= link_to "Logout", destroy_author_session_path, method: :delete, class: 'btn btn-warning mb-5' %>
          <br>
        <% else %>
          <%= link_to "Author Login", new_author_session_path, method: :get, class: 'btn btn-success mb-5' %>
        <% end %>
      <%= yield %>
    </div>
  </body>
</html>
